.container-fluid{
    background-color: #fff;
    margin-left: 50%;
    
}
.col h1{
    text-align: left;
}
.col span{
    color: #1E90FF;
}
.row{
    padding: 4px;
    margin-right: 4px;
}
.Column{
    text-align: left;
}
.unl{
    display: flex;
    padding-left: 213px;
}
.coaching{
    background: #0077ff;
    color: #fff;
}
.coaching p{
    padding: 20px 15%;
}
.coaching .btn{
    border:1px solid #fff;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    margin-right: 5px;

}
 .button{
    border:1px solid #fff;
    background-color: #0077ff;
    color: #fff;
    padding: 6px 18px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -2px;

}
.img{
    padding-top: -50%;
    margin-top: -5%;

}
.sub-title h1{
    font-size: 70px;
    font-weight: 500;
}
.sub-title span{
    color: #1E90FF;
}
.col .btn2{
    border: 1px solid #0077ff;
    background: #0077ff;
    color: #fff;
    padding: 8px 14px;
    font-size: 25px;
    text-align: left;
   
    
}
.A{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.A .pa{
    text-align: left;
    padding: 0 160px;
    font-size: 10px;
    margin: 20px;
    margin-left: -30%;
    margin-right: 10px;
 
    
}
.con1{
    text-align: center;
    margin-top: 80px;
}
.photo{
    padding: 0 -50%;
    margin: 0 -50%;
}
.class{
    margin-top: -11%;
  
}
.pic{
    margin-left: -14%;
    margin-right: -14%;
    margin-bottom: -50%;
}
.column1{
    text-align: center;
    margin-left: -10%;
}
.ceo{
    padding: 4px 12px;
}
.column2{
    background: #fff;
    text-align: center;
    border-radius: 3px solid #0000;
    text-align: center;
    padding: 0 100px;
    margin-top: -20%;
    margin-left: -60%;
    margin-right: 7%;

}
.column2 .bx{
    color: #1E90FF;
    font-size: 35px;
    padding: 8px 0;
}
.sub-title2 h1{
    font-size: 50px;
    text-align: left;
}
.sub-title2 span{
    color: #1E90FF;
}
.parent{
    column-gap: 10px;
}
.column3 .bx{
    color: #fff;
    background-color: #000;
    font-size: 50px;
    padding: 10px 6px;
    border-radius: 50%;
}
.column3{
    width: 20%;
    background: #d3d4d3;
    border: 1px solid #d3d4d3;
    border-radius: 20px;
 
}
.column3 .btn3{
    background: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
}
.column4{
    background: #d3d4d3;
    border: 1px solid #d3d4d3;
    border-radius: 20px;
}
.column4 .btn3{
    background: #1E90FF;
    border: 1px solid #1E90FF;
    color: #fff;
    padding: 4px 10px;
    border-radius: 12px;
}
.column4 .bx{
    color: #fff;
    background-color: #1E90FF;
    font-size: 50px;
    padding: 10px 6px;
    border-radius: 50%;
}
form{
    width: 50%;
    background: #d3d4d3;
    text-align: left;
    border: 1px solid #d3d4d3;
    border-radius: 10px;

}
.btn5{
    border-radius: 10px;
}
.con{
    background: #1E90FF;
}
footer{
    background: #000;
    color: #fff;
   margin-right: -13px;
   margin-left: -12px;
}

